---

---

<hr class="cs-hr"/>
<span class="spanning">
    <div></div>
    <slot/>
    <div></div>
</span>
<!-- -->
<style>
    span{
        opacity: 50%;
        font-size: smaller;
    }
    .spanning{
        opacity: 50%;
        font-size: smaller;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
</style>

<!-- -->
<script>
    
</script>