---

---

<hr class="cs-hr"/>
<span class="spanning">
    <div>
        <a href="http://astro.build">{Astro.generator}</a>
    </div>
    <slot/>
    <div>
        <a href="/credits" target="_blank">credits</a>
    </div>
</span>
<!-- -->
<style>
    span{
        opacity: 50%;
        font-size: smaller;
    }
    .spanning{
        opacity: 50%;
        font-size: smaller;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .spanning div{
        font-size: smaller;
    }
</style>

<!-- -->
<script>

</script>