---

---

<span class="spanning">
    <h1 class="top">byzocker.de</h1>
    <span id="time" class="top"></span>  
</span>

<div>
    
</div>

<hr class="cs-hr"/>

<!-- -->
<style>
    .spanning{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .top{
        font-size: 50px;
        line-height: 50px;
    }

</style>

<!-- -->
<script>

import dayjs from 'dayjs';

(function () {

    const currentTime = document.getElementById("time") as HTMLSpanElement;

    function updateClock(clock){
        clock.textContent = dayjs().format('HH:mm');
    };

    setInterval(function () {
        updateClock( currentTime );
    }, 1000);

}());

</script>