---

// const lanyard = await fetch("https://api.lanyard.rest/v1/users/" + idDiscord);
// const discord = await lanyard.json();

// const spotify = {
//     is_listening: discord.data.listening_to_spotify,
//     title: discord.data.spotify.song,
//     artist: discord.data.spotify.artist,
//     link: "https://open.spotify.com/track/" + discord.data.spotify.track_id,
// };

// switch (){}

import Icon from "./icons/Icon.astro";
---

<html>
    <p id="test23"></p>
    <!-- <p>{ spotify.is_listening }</p> -->
    <div class="divTable textTable">
        <div class="divTableBody">
            <div class="divTableCell">
                <div class="divTableRow">
                    <div class="divTableCell">
                        <div class="BigTextH1">byzocker</div>
                    </div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">
                        <a href="#" id="spotifyText">
                            loading...
                            <!-- ♫ {spotify.artist} - {spotify.title} -->
                            <!-- currently not listening to anything... -->
                        </a>
                    </div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">
                        <div class="divTableRow iconRow">
                            <!-- Github -->
                            <div class="divTableCell">
                                <Icon
                                    link="https://github.com"
                                    source="/icons/github.svg"
                                />
                            </div>
                            <!-- Github -->
                            <div class="divTableCell">
                                <Icon link="#" source="/icons/github.svg" />
                            </div>
                            <!-- Github -->
                            <div class="divTableCell">
                                <Icon link="#" source="/icons/github.svg" />
                            </div>
                        </div>
                        <div class="divTableRow iconRow">
                            <!-- Github -->
                            <div class="divTableCell">
                                <Icon link="#" source="/icons/github.svg" />
                            </div>
                            <!-- Github -->
                            <div class="divTableCell">
                                <Icon link="#" source="/icons/github.svg" />
                            </div>
                            <!-- Github -->
                            <div class="divTableCell">
                                <Icon link="#" source="/icons/github.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        div.textTable {
            border-collapse: collapse;
        }
        /* DivTable.com */
        .divTable {
            display: table;
        }
        .divTableRow {
            display: table-row;
        }

        .divTableCell {
            display: table-cell;
        }
        .divTableBody {
            display: table-row-group;
        }
        .divTable.textTable .divTableCell {
            padding: 5px 5px;
        }
    </style>

    <script></script>

    <style>
        /* :root {
        text-align: center;
    } */
        .BigTextH1 {
            font-size: 100px;
            font-weight: bold;
        }
    </style>



    <script>
        const idDiscord = "322035497826385920";
        const lanyardUrl = "https://api.lanyard.rest/v1/users/" + idDiscord;
        const spotifyT = document.getElementById("spotifyText") as HTMLAnchorElement;

        async function fetchDiscordPresence() {
            try {
                const response = await fetch(lanyardUrl);
                const lanyard = await response.json();
                const data = lanyard.data

                if (data.listening_to_spotify == true) {
                    const spotify = {
                        title: data.spotify.song,
                        artist: data.spotify.artist,
                        link:
                            "https://open.spotify.com/track/" +
                            data.spotify.track_id,
                    };

                    spotifyT.textContent = "♫ " + spotify.artist + " - " + spotify.title;
                    spotifyT.href = spotify.link;
                } else {
                    spotifyT.textContent =
                        "currently not listening to anything...";
                    spotifyT.href = ""
                }
            } catch (error) {
                spotifyT.textContent = "Error";
                spotifyT.href = "#"
            }
        }
        
        setInterval(fetchDiscordPresence, 1000);
    </script>
</html>
