---
const idDiscord = "322035497826385920";
const lanyard = await fetch("https://api.lanyard.rest/v1/users/" + idDiscord);
const discord = await lanyard.json();

const spotify = {
    title: discord.data.spotify.song,
    artist: discord.data.spotify.artist,
    link: "https://open.spotify.com/track/" + discord.data.spotify.track_id,
};
const dc = {
    pfp: "https://lanyard.rest/" + idDiscord + ".png",
}

import Icon from "./icons/Icon.astro";
---

<html>
    <div class="divTable textTable">
        <div class="divTableBody">
            <div class="divTableCell">
                <div class="divTableRow">
                    <div class="divTableCell">
                        <div class="BigTextH1">byzocker</div>
                    </div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">
                        <a href={spotify.link}>
                            {spotify.artist} - {spotify.title}
                        </a>
                    </div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">
                        <div class="divTableRow">
                            <!-- Github -->
                            <div class="divTableCell">
                                <Icon link="https://github.com" source="/icons/github.svg"/>
                            </div>
                            <!-- Github -->
                            <div class="divTableCell">
                                <Icon link="#" source="/icons/github.svg"/>
                            </div>
                            <!-- Github -->
                            <div class="divTableCell">
                                <Icon link="#" source="/icons/github.svg"/>
                            </div>
                        </div>
                        <div class="divTableRow">
                            <!-- Github -->
                            <div class="divTableCell">
                                <Icon link="#" source="/icons/github.svg"/>
                            </div>
                            <!-- Github -->
                            <div class="divTableCell">
                                <Icon link="#" source="/icons/github.svg"/>
                            </div>
                            <!-- Github -->
                            <div class="divTableCell">
                                <Icon link="#" source="/icons/github.svg"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divTableCell">
                <div class="divTableCell">
                    <div class="BigTextH1"><img src={dc.pfp} alt="" srcset=""></div>
                </div>
            </div>
        </div>
    </div>
    <style>
        div.textTable {
            border-collapse: collapse;
        }
        /* DivTable.com */
        .divTable {
            display: table;
        }
        .divTableRow {
            display: table-row;
        }

        .divTableCell {
            display: table-cell;
        }
        .divTableBody {
            display: table-row-group;
        }
    </style>

    <style>
        /* :root {
            text-align: center;
        } */
        .BigTextH1 {
            font-size: 100px;
        }
    </style>

    <script></script>


</html>
