---
const idDiscord = "322035497826385920";
const lanyard = await fetch("https://api.lanyard.rest/v1/users/" + idDiscord);
const discord = await lanyard.json();

const spotify = {
    title: discord.data.spotify.song,
    artist: discord.data.spotify.artist,
    link: "https://open.spotify.com/track/" +discord.data.spotify.track_id
};
---

<!-- <script src="https://cdn.jsdelivr.net/gh/0x5841524f4e/js-lanyard/lanyard.js"></script> --><!-- 322035497826385920 -->
<html>
    <div class="divTable textTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">
                    <h1 class="BigTextH1">byzocker</h1>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">
                    <a href={spotify.link}>
                        {spotify.artist} - {spotify.title}
                    </a>
                </div>
            </div>
            <br />
            <div class="divTableRow">
                <div class="divTableCell">
                    <div class="divTableRow">
                        <!-- Github -->
                        <div class="divTableCell">
                            <a href="#">
                                <img
                                    src="/icons/github.svg"
                                    alt=""
                                    width="50px"
                                />
                            </a>
                        </div>
                        <!-- Github -->
                        <div class="divTableCell">
                            <a href="#">
                                <img
                                    src="/icons/github.svg"
                                    alt=""
                                    width="50px"
                                />
                            </a>
                        </div>
                        <!-- Github -->
                        <div class="divTableCell">
                            <a href="#">
                                <img
                                    src="/icons/github.svg"
                                    alt=""
                                    width="50px"
                                />
                            </a>
                        </div>
                    </div>
                    <div class="divTableRow">
                        <!-- Github -->
                        <div class="divTableCell">
                            <a href="#">
                                <img
                                    src="/icons/github.svg"
                                    alt=""
                                    width="50px"
                                />
                            </a>
                        </div>
                        <!-- Github -->
                        <div class="divTableCell">
                            <a href="#">
                                <img
                                    src="/icons/github.svg"
                                    alt=""
                                    width="50px"
                                />
                            </a>
                        </div>
                        <!-- Github -->
                        <div class="divTableCell">
                            <!-- <a href="#">
                                <img
                                    src="/icons/github.svg"
                                    alt=""
                                    width="50px"
                                />
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        div.textTable {
            border-collapse: collapse;
        }
        /* DivTable.com */
        .divTable {
            display: table;
        }
        .divTableRow {
            display: table-row;
        }

        .divTableCell {
            display: table-cell;
        }
        .divTableBody {
            display: table-row-group;
        }
    </style>

    <style>
        img {
            filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg)
                brightness(110%) contrast(110%);
        }
        /* :root {
            text-align: center;
        } */
        .BigTextH1 {
            font-size: 100px;
        }
    </style>

    <script></script>


</html>
