---

const { iconPath, boxBackground, platformName, platformLink, description } = Astro.props;
---

<!-- 


<a href="#">
    <div class="outer">
        <span class="inner">
            <div>
                <span class="spanimg">
                    <img src={ iconPath } class="icon">
                </span>
                <span class="platformTitle">
                    TestTestTest
                </span>
            </div>
            <div>
                Description
            </div>
        </span>
    </div>
</a>




<style>
    :root{
        --icon-size: 50px;
        --background-color: { boxBackground }
    }
    a, a:link, a:visited, a:active{
        text-decoration: none;
        color: inherit;
    }
    .debug{
        display: inline;
        background: white;
        color: black;
    }
    .outer{
        border: 5px solid green;
        border-radius: 10px;
        background-color: red;
        margin: 5px;
    }
    .inner{
        background-color: pink;

        
    }
    .icon{
        width:  var(--icon-size);
        height: var(--icon-size) ;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(40deg) brightness(111%) contrast(103%);
    }
</style>


 -->




 <li class="link-card">
	<a href="#">
		<h2>
			title
			<span>&rarr;</span>
		</h2>
		<p>
			body
		</p>
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 0.25rem;
        margin: .2rem;
		background-color: white;
		background-image: none;
		background-size: 400%;
		border-radius: 0.6rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem 1.3rem;
		border-radius: 0.35rem;
		color: #111;
		background-color: white;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #444;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		/* background-image: var(--accent-gradient); */
        background-image: linear-gradient(blue, red);
	}
	.link-card:is(:hover, :focus-within) h2 {
		/* color: rgb(var(--accent)); */
        color: red
	}
</style>






<!-- <div class="debug">
    <br><br><br><br>
    Icon Path: { iconPath } <br>
    Box Background: { boxBackground } <br>
    Platform Name: { platformName } <br>
    Platform Link: { platformLink } <br>
    Description: { description } <br>
</div> -->