---

const { iconPath, boxBackground, platformName, platformLink, platformColor, description } = Astro.props;
---

<!-- 


<a href="#">
    <div class="outer">
        <span class="inner">
            <div>
                <span class="spanimg">
                    <img src={ iconPath } class="icon">
                </span>
                <span class="platformTitle">
                    TestTestTest
                </span>
            </div>
            <div>
                Description
            </div>
        </span>
    </div>
</a>




<style>
    :root{
        --icon-size: 50px;
        --background-color: { boxBackground }
    }
    a, a:link, a:visited, a:active{
        text-decoration: none;
        color: inherit;
    }
    .debug{
        display: inline;
        background: white;
        color: black;
    }
    .outer{
        border: 5px solid green;
        border-radius: 10px;
        background-color: red;
        margin: 5px;
    }
    .inner{
        background-color: pink;

        
    }
    .icon{
        width:  var(--icon-size);
        height: var(--icon-size) ;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(40deg) brightness(111%) contrast(103%);
    }
</style>


 -->




 <li class="link-card">
	<a href="#">
        <img src={ iconPath } class="icon">
		<h2>
			{ platformName }
			<!-- <span>&rarr;</span> -->
		</h2>
		<p>
			{ description }
		</p>
	</a>
</li>
<style define:vars={{ boxBackground, platformColor }}>
    :root{
        --icon-size: 35px;
        /* --backgroundPlatformColor: color-mix(in srgb, var(--platformColor) 80%, white); */
    }
    .icon{
        width:  var(--icon-size);
        height: var(--icon-size) ;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(40deg) brightness(111%) contrast(103%);
    }
	.link-card {
		list-style: none;
        transition: color 1s cubic-bezier(0.22, 1, 0.36, 1);
		display: flex;
		padding: 0.25rem;
        margin: .2rem;
		background-color: black;
		background-image: none;
		background-size: 400%;
		border-radius: 0.6rem;
		background-position: 100%;
		transition: background-position 1s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.164), 0 2px 4px -2prgba(0, 0, 0, 0.178)1);
	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem 1.3rem;
  
		border-radius: 0.35rem;
		color: #ffffff;
		background-color: rgba(0, 0, 0, 0.226);
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 1s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #cacaca;
        transition: color 1s cubic-bezier(0.22, 1, 0.36, 1);
	}
    .link-card:is(:hover) p{
        color: white;
    }
	.link-card:is(:hover) {
		background-position: 0;
		/* background-image: var(--accent-gradient); */
        /* background-image: linear-gradient(var(--platformColor) , rgba(0, 0, 0, 0.616)); */
	}
	.link-card:is(:hover) h2 {
		/* color: rgb(var(--accent)); */
        /* color: var(--platformColor) */
        /* background: linear-gradient(var(--platformColor), white);
        background-clip: text;
        -webkit-text-fill-color: transparent; */
        color: white;
	}


    .link-card:is(:hover) {
        background: linear-gradient(45deg, color-mix(in srgb, var(--platformColor) 30%, black), color-mix(in srgb, var(--platformColor) 50%, black));
        background-size: 400% 400%;

        -webkit-animation: bg-anim 2.5s ease infinite;
        -moz-animation: bg-anim 2.5s ease infinite;
        animation: bg-anim 2.5s ease infinite;
    }

    @-webkit-keyframes bg-anim {
        0%{background-position:72% 0%}
        50%{background-position:29% 100%}
        100%{background-position:72% 0%}
    }
    @-moz-keyframes bg-anim {
        0%{background-position:72% 0%}
        50%{background-position:29% 100%}
        100%{background-position:72% 0%}
    }
    @keyframes bg-anim {
        0%{background-position:72% 0%}
        50%{background-position:29% 100%}
        100%{background-position:72% 0%}
    }
</style>






<!-- <div class="debug">
    <br><br><br><br>
    Icon Path: { iconPath } <br>
    Box Background: { boxBackground } <br>
    Platform Name: { platformName } <br>
    Platform Link: { platformLink } <br>
    Description: { description } <br>
</div> -->