---
import Layout from "../layouts/Layout.astro";
---
<Layout
  title="byzocker.de"
  description="hey."
  image=""
  url="https://byzocker.de"
  favico="favicon.ico"
>
  <main transition:animate="slide">
    1235
  </main>

</Layout>
