---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
---

<Layout
    title="Kontakt"
    description="Nehme Kontakt auf!"
    image=""
    url="https://byzocker.de/contact"
    favico="favicon.svg"
>
    <main>
        <Form />
    </main>
</Layout>
