---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
import Overview from "../components/contact/Overview.astro"
---

<Layout
    title="Kontakt"
    description=" "
    image=""
    url="https://byzocker.de/contact"
    favico="favicon.svg"
>
    <main>
        <Overview/>
    </main>
</Layout>
