---
import Layout from "../layouts/Layout.astro";
import LinkContainer from "../components/LinkContainer.astro";
---

<Layout
  title="<< tobi >>"
  description="hey."
  image=""
  url="https://byzocker.de"
  favico="favicon.ico"
>
<main>

  <!-- Header -->
  <span id="site-header" class="header-byzocker">
    <p>byzocker</p>
  </span>

  <!-- Content Boxes -->
  <span id="site-content">

  </span>

  <footer id="site-footer">
    <p><a>service status</a></p>
  </footer>


  <!-- <LinkContainer title="Links">
    test
  </LinkContainer> -->



  <style>
    .header-byzocker{
        font-family: 'Caveat', cursive;
        font-size: 10rem;
        font-weight: 700;
        text-align: center;
        padding-top: 1rem;
    }
  </style>
</main>
</Layout>
