---
import Layout from "../layouts/Layout.astro";
// import Main from "../components/Main.astro";
import Text from "../components/text/Text.astro";
import Title from "../components/text/header.astro";
import Foot from "../components/text/footer.astro";
import Intro from "../components/text/main.astro";
import Tabs from "../components/tabs.astro";
---

<!-- <Layout
  title="byzocker.de"
  description="hey."
  image="https://i.imgur.com/HzBwcsH.jpg"
  url="https://byzocker.de"
  favico="favicon.svg"
> -->
<Layout
  title="byzocker.de"
  description="hey."
  image=""
  url="https://byzocker.de"
  favico="favicon.ico"
>
<main>
  <span class="mainspan">
    <!-- <Text/> -->
     <header>
        <Title/>
     </header>
      <Intro/>
      <Tabs/>
     <footer>
      <Foot>
        Made with ❤️ by byzocker
      </Foot>
     </footer>
  </span>
  
  <style>
    :root {
  
        /* display: flex;
        align-items: center;
        justify-content: center;
        height: 80dvh; */
        
    }
    body {
      font-size: 20px;
      padding: 40px;
      max-width: 800px;
      margin: auto;
    }
    header{
      margin-bottom: 15px;
    }
    footer{
      margin-top: 15px;
      text-align: center;
    }
  </style>
</main>
</Layout>
