---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
---

<Layout
  title="byzocker.de"
  description="hey."
  image="https://i.imgur.com/HzBwcsH.jpg"
  url="https://byzocker.de"
  favico="favicon.svg"
>
  <main>
    <About />
  </main>
  <footer class="footerr">
    <a href="/contact">Contact Me</a>
  </footer>
</Layout>
<style>
  .footerr {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.1;
    text-align: center;
  }
</style>
