---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
---

<Layout
  title="byzocker.de"
  description="hey."
  image="https://i.imgur.com/HzBwcsH.jpg"
  url="https://byzocker.de"
  favico="favicon.svg"
>
  <main>
    <!-- https://bddvlpr.com/ -->
    <!-- <About /> -->
    <Main/>
  </main>

</Layout>
