---
import Layout from "../layouts/Layout.astro";
import Me from '../components/home/Me.astro';
---
<Layout
  title="byzocker.de"
  description="hey."
  image=""
  url="https://byzocker.de"
  favico="favicon.ico"
>
<main>
  <div>
    <Me/>
  </div>
</main>
</Layout>
