<div class="divTable textTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">cell1_1</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">cell1_2</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">
                <div class="divTableRow">
                    <div class="divTableCell">cell1_1</div>
                    <div class="divTableCell">cell2_1</div>
                    <div class="divTableCell">cell3_1</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">cell1_2</div>
                    <div class="divTableCell">cell2_2</div>
                    <div class="divTableCell">cell3_2</div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    div.textTable {
        border-collapse: collapse;
    }
    /* DivTable.com */
    .divTable {
        display: table;
    }
    .divTableRow {
        display: table-row;
    }

    .divTableCell {
        display: table-cell;
    }
    .divTableBody {
        display: table-row-group;
    }
</style>
