---
export interface Props {
  url: string;
  text: string;
}

const { url, text } = Astro.props;
---

<style>
  .a-link::before,
  .a-link {
    text-decoration: none;
    color: inherit;
    font-stretch: expanded;
    font-weight: 500;
    transition: 0.2s;
  }
  .a-link {
    margin-left: 1em;
    margin-right: 1em;
  }
  .a-link:hover {
    text-decoration: underline;
  }
</style>

<span class="span-link">
  <a class="a-link" href={url}>{text}</a>
</span>
