---
import TobiName from "./about/TobiName.astro";
---

<div class="wrapper">
    <div class="wrapperwrapper">
        <div class="topTobi">
            hey, i'm
            <TobiName/>
        </div>
        <div class="bottomText">
            i'm from germany and i like tinkering with tech.
        </div>
    </div>
</div>

<style>
    :root {
        --white: rgb(240, 226, 186);
        --blue: rgb(155, 153, 253);
        --pink: rgb(255, 157, 173);

        display: flex;
        align-items: center;
        justify-content: center;
        height: 30em;
    }
    div {
        animation: init 1s;
    }
    .wrapper {
        font-size: x-large;
        font-weight: 400;
        border-radius: 15px;
    }
    .wrapperwrapper {
        padding: 1em;
    }
    .topTobi {
        padding-bottom: 0.5em;
        font-size: 1.5em;
    }
    .bottomText {
        font-weight: 40;
    }
    @keyframes init {
        0% {
            opacity: 0;
            transform: translateY(100%);
            filter: brightness(0%);
        }
        50% {
            opacity: 1;
            transform: translateY(0%);
        }
        100% {
            filter: brightness(100%);
        }
    }

</style>
