---
import Text from "./text/Text.astro"

---
<span class="mainspan">
    <Text
        
    />
</span>

<style>
    :root {

        display: flex;
        align-items: center;
        justify-content: center;
        /* height: 50vh; */
    }
    /* .mainspan{
        background-color: aqua;
    } */
</style>