---

import Tab from "./tabs/tab.astro";
import OpenLink from "./links/openLink.astro";
import CurrentActivity from "./activity/currentActivity.astro";
---

<div class="cs-tabs margin-top">
    <Tab
        tabid="activity-content"
        tabindex="1"
        label="Current activity"
    >
        <span id="activity">
            <h2>H22</h2>
            <CurrentActivity/>
            <p>Text2</p>
        </span>
    </Tab>

    <Tab
        tabid="links-content"
        tabindex="2"
        label="Links"
    >
        <span id="links">
            <h2>H23</h2>
            <p>Text3</p>
            <OpenLink
                name="NC"
                serviceurl="https://cloud.byzocker.de/login"
            />
        </span>
    </Tab>

    <Tab
        tabid="about-content"
        tabindex="2"
        label="About me"
    >
        <span id="about">
            <h2>123456</h2>
            <p>abcdef</p>
        </span>
    </Tab>


</div>

<script is:inline>
  document.addEventListener('DOMContentLoaded', function() {
    const hash = window.location.hash.substring(1);
    console.log(hash);
    if (hash) {
        const tab = document.querySelector(`#${hash}-content`);
        console.log(tab);
        if (tab) {
            tab.checked = true;
        }
        }  else{
            const firstTab = document.querySelector('[tabindex="1"]');
            console.log(firstTab + "1");
            if (firstTab) {
                firstTab.checked = true
            }
    }
  });
</script>

<style>
    .margin-top{
        margin-top: 15px;
    }
</style>