---

import Tab from "./tabs/tab.astro";
import OpenLink from "./links/openLink.astro";
import CurrentActivity from "./activity/currentActivity.astro";
---

<div class="cs-tabs margin-top">
    <Tab
        tabid="activity"
        tabindex="1"
        checked="checked"
        label="Current activity"
    >
        <span>
            <h2>H22</h2>
            <CurrentActivity/>
            <p>Text2</p>
        </span>
    </Tab>
    <Tab
        tabid="links"
        tabindex="2"
        label="Links"
    >
        <span>
            <h2>H23</h2>
            <p>Text3</p>
            <OpenLink
                name="NC"
                serviceurl="https://cloud.byzocker.de/login"
            />
        </span>
    </Tab>

    <Tab
        tabid="about"
        tabindex="2"
        label="About me"
    >
        <span>
            <h2>123456</h2>
            <p>abcdef</p>
        </span>
    </Tab>


</div>

<style>
    .margin-top{
        margin-top: 15px;
    }
</style>