---

import Tab from "./tabs/tab.astro";
import LinkElement from "./links/linkElement.astro";
import CurrentActivity from "./activity/currentActivity.astro";
---

<div class="cs-tabs margin-top">
    <!-- <Tab
        tabid="activity-content"
        tabindex="1"
        label="Current activity"
    >
        <span id="activity">

            <CurrentActivity/>

        </span>
    </Tab> -->

    <Tab
        tabid="links-content"
        tabindex="1"
        label="Links"
    >
        <span id="links">
            <LinkElement
                id="steam-link"
                name="Steam"
                serviceurl="https://steamcommunity.com/id/byzocker"
                icon="https://i.imgur.com/example.jpg"
            />
            <LinkElement
                id="youtube-link"
                name="YouTube"
                serviceurl="https://youtube.com/@byzockerr"
                icon="https://i.imgur.com/example.jpg"
            />
            <LinkElement
                id="instagram-link"
                name="Instagram"
                serviceurl="https://instagram.com/byzocker"
                icon="https://i.imgur.com/example.jpg"
            />
            <LinkElement
                id="github-link"
                name="GitHub"
                serviceurl="https://github.com/byzocker"
                icon="https://i.imgur.com/example.jpg"
            />
            <LinkElement
                id="ys-link"
                name="Your Spotify"
                serviceurl="https://spotify.byzocker.de/?gname=Last+month&token=9ae37424-3f7d-454e-bbb3-a9cc0f78eb95"
                icon="https://i.imgur.com/example.jpg"
            />
            <LinkElement
                id="spotify-link"
                name="Spotify"
                serviceurl="https://open.spotify.com/user/21fnqjzsgtwz3vf4cethlrezq?si=962d341e70534c45"
                icon="https://i.imgur.com/example.jpg"
            />
            <LinkElement
                id="soundcloud-link"
                name="SoundCloud"
                serviceurl="https://soundcloud.com/byzocker"
                icon="https://i.imgur.com/example.jpg"
            />
            <LinkElement
                id="soundcloud-link"
                name="SoundCloud"
                serviceurl="https://soundcloud.com/byzocker"
                icon="https://i.imgur.com/example.jpg"
            />
            <LinkElement
                id="nextcloud-link"
                name="NextCloud"
                serviceurl="https://cloud.byzocker.de/"
                icon="https://i.imgur.com/example.jpg"
            />
        </span>
    </Tab>

    <Tab
        tabid="about-content"
        tabindex="2"
        label="About me"
    >
        <span id="about">
            <h2>Who i am</h2>
            <hr class="cs-hr" /><br/>
            <p>I'm tobi and a student from germany.</p>
        </span>
    </Tab>


</div>

<script is:inline>
  document.addEventListener('DOMContentLoaded', function() {
    const hash = window.location.hash.substring(1);
    // console.log(hash);
    if (hash) {
        const tab = document.querySelector(`#${hash}-content`);
        // console.log(tab);
        if (tab) {
            tab.checked = true;
        }
        }  else{
            const firstTab = document.querySelector('[tabindex="1"]');
            // console.log(firstTab + "1");
            if (firstTab) {
                firstTab.checked = true
            }
    }
  });
</script>

<style>
    .margin-top{
        margin-top: 15px;
    }
    /* Links */
    /* arrange each subelement of .links in a grid  */
    #links{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
    }
    #links span{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
</style>