---
import { ViewTransitions } from "astro:transitions";
import NavItem from "../components/navbar/NavItem.astro";
---

<head>
  <ViewTransitions />
</head>

<style>
  :root {
    align: inherit;
    
  }

  .div-nav-all {
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
    width: 100%:
    height: 1em;
  }
</style>

<div class="div-nav-all">
  <NavItem url="/" text="Home" />
  <NavItem url="/about" text="About" />
  <NavItem url="/l" text="Links"/>
  <!-- <NavItem url="/about" text="About" /> -->
</div>
